body {
  background-color: #fdfff5;
}

.container {
  margin: 3% 20%;
  display: flex;
  line-height: 1.5;
}

aside {
  padding: 3% 3% 0 0;
}
main {
  border-left: solid #cccccc 1px;
  padding: 3% 0 0 2%;
}

nav {
  display: flex;
  width: max-content;
  flex-direction: column;
}

nav > a {
  text-decoration: none;
  color: #000000;
  font-size: 1.3em;
  font-weight: bold;
}

table {
  text-align: left;
}

#blue {
  color: blue;
}

.profilePhoto {
  border-radius: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 821px) {
  main {
    padding: 3% 0 0 4%;
    margin-top: 10%;
  }
  .container {
    flex-direction: column;
  }
  .profilePhoto > img {
    width: 60%;
  }
}
