<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Template - Homework 4</title>
    <link rel="stylesheet" href="./style.css" />
  </head>
  <body>
    <div class="main">
      <!-- header -->
      <div>
        <div class="menu">
          <a href="#">HOME</a>
          <a href="#">ABOUT US</a>
          <a href="#">CONTACT</a>
          <a href="#">COMPANY</a>
          <a href="#">SERVICES</a>
        </div>

        <div class="subheader">
          <div class="logo"><h1>TechCorporate</h1></div>
          <div class="info">
            <div>Free PSD Website Template</div>
            <div>
              <p>
                Tel: <a href="tel:xxxxxxxxxxxxxxxx">xxxxxx xxxxxxxxxx</a>
                <br />Mail: <a href="mailto:info@domain.com">info@domain.com</a>
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="banner">
        <div class="details">
          <h4>Laoremhabitur et phasellent wisi</h4>
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iusto,
            pariatur hic. Illo, consequuntur. Blanditiis ex dignissimos quas
            vero necessitatibus? Delectus omnis consectetur non dicta voluptas
            facere. Vero reprehenderit ab cum!
          </p>
        </div>
        <div class="title"><p>Todays Technology >></p></div>
        <div class="background"><h2>TECHNOLOGY</h2></div>
      </div>

      <!-- Three Boxes -->
      <div class="sectionOne">
        <div class="box">
          <div class="titleBox"><p>Indonectetus facilis leo nibh</p></div>
          <div class="imageContainer1">
            <img src="./images/img240x90.png" alt="img240x90" />
          </div>
          <div class="text">
            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facilis
              eos culpa distinctio atque amet architecto nostrum? Eos sit ad aut
              aspernatur accusantium distinctio, eligendi eius quam fugit
              repellat. Aut, non.
            </p>
          </div>
          <div class="readMore"><a href="#">Read more >></a></div>
        </div>

        <div class="box">
          <div class="titleBox"><p>Indonectetus facilis leo nibh</p></div>
          <div class="imageContainer1">
            <img src="./images/img240x90.png" alt="img240x90" />
          </div>
          <div class="text">
            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facilis
              eos culpa distinctio atque amet architecto nostrum? Eos sit ad aut
              aspernatur accusantium distinctio, eligendi eius quam fugit
              repellat. Aut, non.
            </p>
          </div>
          <div class="readMore"><a href="#">Read more >></a></div>
        </div>

        <div class="box">
          <div class="titleBox"><p>Indonectetus facilis leo nibh</p></div>
          <div class="imageContainer1">
            <img src="./images/img240x90.png" alt="img240x90" />
          </div>
          <div class="text">
            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facilis
              eos culpa distinctio atque amet architecto nostrum? Eos sit ad aut
              aspernatur accusantium distinctio, eligendi eius quam fugit
              repellat. Aut, non.
            </p>
          </div>
          <div class="readMore">
            <a href="#">Read more >></a>
          </div>
        </div>
      </div>

      <!-- article and categories -->
      <div class="sectionTwo">
        <div class="article">
          <div class="imageContainer1">
            <img src="./images/img200x160.png" alt="img200x160" />
          </div>
          <div class="box">
            <div class="titleBox"><p>Indonectetus facilis leo nibh</p></div>
            <div class="text">
              <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                Facilis eos culpa distinctio atque amet architecto nostrum? Eos
                sit ad aut aspernatur accusantium distinctio, eligendi eius quam
                fugit repellat. Aut, non. Lorem ipsum dolor sit, amet
                consectetur adipisicing elit. Facilis eos culpa distinctio atque
                amet architecto nostrum? Eos sit ad aut aspernatur accusantium
                distinctio.
              </p>
            </div>
            <div class="readMore"><a href="#">Continue Reading >></a></div>
          </div>
        </div>

        <div class="categories">
          <h4>Categories</h4>
          <ul>
            <li><a href="#"> >> Link Text Goes Here</a></li>
            <li><a href="#"> >> Link Text Goes Here</a></li>
            <li><a href="#"> >> Link Text Goes Here</a></li>
            <li><a href="#"> >> Link Text Goes Here</a></li>
            <li><a href="#"> >> Link Text Goes Here</a></li>
          </ul>
        </div>
      </div>

      <div class="sectionTree">
        <div class="imageContainer1">
          <img src="./images/img174x100.png" alt="img174x100" />
        </div>
        <div class="imageContainer1">
          <img src="./images/img174x100.png" alt="img174x100" />
        </div>
        <div class="imageContainer1">
          <img src="./images/img174x100.png" alt="img174x100" />
        </div>
        <div class="imageContainer1">
          <img src="./images/img174x100.png" alt="img174x100" />
        </div>
        <div class="imageContainer1">
          <img src="./images/img174x100.png" alt="img174x100" />
        </div>
      </div>

      <div class="footer">
        <div>
          <p>Copyright &copy; 2009 Domain Name - All Rights reserves</p>
        </div>
        <div><p>Template by OS Templates</p></div>
      </div>
    </div>
  </body>
</html>
