header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  border-bottom: #4b3c3c solid 2px;
  padding: 1% 0;
}

nav {
  display: flex;
  gap: 20px;
}

nav > a,
#logo > a {
  text-decoration: none;
  color: #4b3c3c;
  font-weight: bold;
}

.container {
  margin: 2% 20%;
  line-height: 1.5;
}

.author {
  color: #6c6c6c;
  font-size: 0.9em;
  font-weight: bold;
  font-style: italic;
}

@media screen and (max-width: 354px) {
  nav {
    flex-direction: column;
    gap: 1px;
  }
}

@media screen and (min-width: 355px) and (max-width: 400px) {
  nav {
    flex-wrap: wrap;
    gap: 10px;
  }
}
